---
## ===============================
## H2 PROFILE (local dev + CI tests)
## ===============================
spring:
  config:
    activate:
      on-profile: h2

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:portfolio-db;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

  flyway:
    enabled: false

  sql:
    init:
      platform: h2
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data-h2.sql

---
## ===============================
## POSTGRES PROFILE (deployment)
## ===============================
spring:
  config:
    activate:
      on-profile: postgres

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true

  sql:
    init:
      mode: never

